* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background-color: #ccc;
	padding: 10px;
	display: flex;
	// height: 2000px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.item {
	background-color: #f1425d;
	padding: 30px;
	// margin: 30px;
	color: #fff;
	font-size: 40px;
	// flex: 1;

	&-i2 {
		height: 200px;
		flex: 0 1 300px;
	}

	&-i3 {
		flex: 1;
		align-self: center;
		order: 1;
	}
}
